In [1]:
import pandas as pd

In [2]:
C111 = pd.read_csv("1.1.1 Diefstalinbraak woning' Theftburglary home.csv", header=None).drop(labels=[0, 1, 2, 3,4, 5], axis=0)
C111_split = C111[0].str.split(";", expand=True)
C111_split.columns = ["City", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023"]
C111 = C111_split.apply(lambda x: x.str.replace('"', '')).reset_index(drop=True)

In [3]:
C111

,City,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Amsterdam,6006,6647,5572,5223,4426,4598,3553,3427,2429,1763,1732,1781
1,Haarlemmerbuurt,58,62,42,39,34,37,21,43,38,22,27,21
2,Planciusbuurt-Noord,2,3,2,2,2,2,2,2,6,0,0,1
3,Westelijke eilanden,29,19,14,13,5,14,10,7,10,7,6,7
4,Westerdokseiland,6,9,4,3,5,2,1,2,4,3,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,Gein 1,17,35,26,15,25,22,13,9,12,9,4,6
625,Gein 2,6,13,10,4,18,4,2,4,2,1,4,2
626,Gein 3,19,30,28,5,23,15,18,8,16,4,5,8
627,Gein 4,23,46,33,22,21,13,14,20,7,10,4,14
628,Bron: Politie,None,None,None,None,None,None,None,None,None,None,None,None